/*****************************************************************************/
/*
  /* Common
  /*
  /*****************************************************************************/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    background-color: #FFFFFF;
    font-size: 110%;
    font-family: Georgia, sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #6DBCDB; }
a:hover   { color: #3F5765; }
a:visited { color: #202D44;  }

table {
    font-size: inherit;
    font: 100%;
}

/*****************************************************************************/
/*
  /* Home
  /*
  /*****************************************************************************/
ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

ul.posts li {
    line-height: 1.75em;
}

ul.posts li a {
    text-decoration: none;
}

ul.posts span {
    color: #aaa;
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
}

.post-date {
    float: right;
    font-size: 30%;
}

/*****************************************************************************/
/*
  /* Site
  /*
  /*****************************************************************************/


.container {
    width: 800px;
    max-width: 90%;
    margin: 3em auto 2em;
}

.site {
    font-size: 115%;
    text-align: justify;
    line-height: 1.5em;
}

.site .header {
    text-align: right;
    padding-top: 5px;
    font-size: 150%;
    color: #FC4349;
    lein-height: 2em;
    letter-spacing: 2px;
    font-family: Helvetica, Arial;
}


.site .header a {
    font-weight: bold;
    text-decoration: none;
}

.site .header h1.title {
    display: inline-block;
    margin-bottom: 2em;
}

.site .header h1.title a {
    color: #333;
}

.site .header h1.title a:hover {
    color: #000;
}

.site .header a.extra {
    color: #aaa;
    margin-left: 1em;
}

.site .header a.extra:hover {
    color: #000;
}

.site .meta {
    color: #aaa;
}

.site .footer {
    width: 50%;
    height: 80px;
    font-size: 50%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
}

.site .footer .contact {
    float: left;
    margin-right: 3em;
}

.site .footer .contact a {
    color: #3F5765;
}

.site .footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

.site .footer .rss img {
    border: 0;
}

/*****************************************************************************/
/*
  /* Posts
  /*
  /*****************************************************************************/

/* standard */
#post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

#post ul, #post ol {
    margin-left: 1.35em;
}

#post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

#post pre code {
    border: none;
}

/* terminal */
#post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

#post pre.terminal code {
    background-color: #333;
}
